<script id="wizard-starter-catalog" type="application/json">{{ wizard_starter_catalog | tojson }}</script>
<script id="wizard-settings-catalog" type="application/json">{{ wizard_settings_catalog | tojson }}</script>
<script id="wizard-preferences-catalog" type="application/json">{{ wizard_preferences_catalog | tojson }}</script>
<script id="wizard-manual-policy-controls" type="application/json">{{ wizard_manual_policy_controls | tojson }}</script>
<script id="wizard-schema-shell-catalog" type="application/json">{{ wizard_schema_shell_catalog | tojson }}</script>
<script id="all-settings-category-catalog" type="application/json">{{ all_settings_category_catalog | tojson }}</script>
<script id="schema-channels-catalog" type="application/json">{{ schema_channels_catalog | tojson }}</script>
