{% set route_assets = profiles_frontend_assets.routes[profiles_route_mode] %}
{% if profiles_asset_phase == "head" %}
    <script src="{{ profiles_frontend_assets.head_script }}?v={{ asset_version }}"></script>
{% for stylesheet_path in route_assets.styles %}
    <link rel="stylesheet" href="{{ stylesheet_path }}?v={{ asset_version }}" />
{% endfor %}
{% elif profiles_asset_phase == "body" %}
{% for script_path in route_assets.scripts %}
{% if script_path == "/static/vendor/profiles_monaco.js" %}
    <script src="{{ script_path }}?v={{ asset_version }}"></script>
{% else %}
    <script type="module" src="{{ script_path }}?v={{ asset_version }}"></script>
{% endif %}
{% endfor %}
{% endif %}
