<!doctype html>
<html lang="{{ initial_lang }}">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#f6efe4" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <script src="/static/profiles_head_bootstrap.js"></script>
    <script src="/static/vendor/js-yaml.js"></script>

    <link rel="stylesheet" href="/static/vendor/profiles_tailwind.css" />
    <link rel="stylesheet" href="/static/vendor/profiles_monaco.css" />
    <link rel="stylesheet" href="/static/profiles.css" />
</head>

<body class="app-body min-h-screen" data-initial-lang="{{ initial_lang }}">
    {% include "profiles/_page_shell.html" %}
    <template id="profiles-initial-locale">{{ initial_locale | tojson }}</template>
    <script src="/static/profiles_utils.js"></script>
    <script src="/static/profiles_catalogs.js"></script>
    <script src="/static/profiles_dom.js"></script>
    <script src="/static/profiles_shared.js"></script>
    <script src="/static/profiles_platform.js"></script>
    <script src="/static/profiles_data.js"></script>
    <script src="/static/profiles_review.js"></script>
    <script src="/static/profiles_preferences_rows.js"></script>
    <script src="/static/profiles_preferences_state.js"></script>
    <script src="/static/profiles_preferences_views.js"></script>
    <script src="/static/profiles_preferences.js"></script>
    <script src="/static/profiles_search_engines.js"></script>
    <script src="/static/profiles_network.js"></script>
    <script src="/static/profiles_extensions.js"></script>
    <script src="/static/vendor/profiles_monaco.js"></script>
    <script src="/static/profiles_schema_shell_value_io.js"></script>
    <script src="/static/profiles_schema_shell_review.js"></script>
    <script src="/static/profiles_schema_shell_actions.js"></script>
    <script src="/static/profiles_schema_shell_sections.js"></script>
    <script src="/static/profiles_schema_shell.js"></script>
    <script src="/static/profiles_settings_search.js"></script>
    <script src="/static/profiles_wizard_flow.js"></script>
    <script src="/static/profiles_workspace.js"></script>
    <script src="/static/profiles_page_bootstrap.js"></script>
    <script src="/static/profiles_runtime.js"></script>
    <script src="/static/profiles_bootstrap_core.js"></script>
    <script src="/static/profiles_bootstrap_features.js"></script>
    <script src="/static/profiles_bootstrap_runtime.js"></script>
    <script src="/static/profiles_bootstrap_sections.js"></script>
    <script src="/static/profiles_bootstrap.js"></script>
    <script src="/static/profiles.js"></script>
</body>

</html>
